<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Site</title>
    
</head>
<body>
    <div class="container">
        <h2>Slim - exemplo código base</h2>
        <div> O curso é o de {{name}} </div> 
        <hr> 
        <div>Slim é um micro framework em php que ajuda a escrever simples, mas poderosas aplicações web e API RESTfull e trabalha com solicitações HTTP<br>
           Ele é uma ferramenta ótima para prototipagem rápida, super rápido e possui pouco código. <br>
           Ele também trabalha com objetos Request e Response, que representam a solicitação HTTP</div>
    </div>
</body>
</html>